.ui-page{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: lightgray;
  border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.reg-page{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 30vw;
  padding: 20px;
  margin-left: 0px;
  box-shadow: 1px 5px 8px 5px rgba(0, 0, 0, 0.08);
  margin-right: 150px;
  background-color: white;
  border-radius: 30px;
}
.logo{
    height: 10vh;
    width: 8vw;
}
.signUpHead{
    font-size: 30px;
    color: purple;
    font-family: 'Roboto';
}
.signUpPara{
    font-size: 25px;
    color: black;
    font-family: 'Roboto';
    margin-top: 1px;
    margin-bottom: 30px;
}
.reg-details{
    display: flex;
    flex-direction: column;
}
.reg-term-priv{
    display: flex;
    align-items: center;
}
.label{
    font-size: 22px;
    font-family: 'Roboto';
} 
.input{
    border-radius: 5px;
    border: 1px solid #7e858e;
    width: 100%;
    height: 30px;
    background-color: transparent;
    margin-top: 5px;
    font-size: 15px;
    padding: 15px;
    outline: none;
}
.inputBox {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.button {
    color: #ffffff;
    background-color: purple;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 5px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
    margin-top: 20px;
}
span {
    color: blue;
}