.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: url('https://res.cloudinary.com/dpnobkqmw/image/upload/v1639302312/983286_bz3n8k.jpg');
    background-size: cover;
    height: 90vh;
    width: 60%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.head{
    font-size: 85px;
    font-weight: bold;
    color: white;
}
.para {
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 20px;
}
.bottom{
    display: flex;
    align-items: center;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 3px;
}